@tailwind base;
@tailwind components;
@tailwind utilities;




{
    :root {

        background-color: #1a1a1a;
        color: aliceblue;
    }
}

    [data-theme="light"] {
        :root {
            background-color: aliceblue ;
            color: #1a1a1a;}
    }

    body{
        overflow: scroll;
    }

